<html>
    <body>
        <title>Error</title>
        <script>
            alert("You must enter restaurant name!!!!");
            window.location.href = "/createDoc";      
        </script>

    </body>
</html>