<html>
    <body>
        <title>Delete Successful</title>
        <h2>You have successfully delete a restaurant!</h1>
        <form action="/home" method="GET" enctype="multipart/form-data">
            <input type = "submit" value = "Go to home">
        </form>
    </body>
</html>