<html>
    <body>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="filetoupload"><br>
            <input type="hidden" name="_id" value=<%= r._id %>>
            <input type="submit" value="update">  
        </form>
    </body>
</html>