<html>
    <h1>LOGIN SUCESSFUL!!<%=ejsUser%></h1>
    <form action = "/logout" method="GET">
        <input type = "submit" value = "logout">
    </form>
    <form action = "/home" method="GET">
        <input type = "submit" value = "Go to Home">
    </form>
</body>
</html>