<html>
    <body>
        <title>Login</title>
        <form action="/login" method="POST" enctype="multipart/form-data">
            <label for = "username">user name:</label>
            <input type = "id" name ="id"><br>
            <label for = "password">password:</label>
            <input type = "password" name ="password"><br>
            <input type = "submit" value="Login here">
        </form>

        <form action = "/signup" method="GET">
            <input type = "submit" value = "Sign up here">
        </form>
    </body>
</html>