<html>
    <body>
        <title>Update Successful</title>
        <h2>You have rated this restaurant!</h1>
        <form action="/home" method="GET" enctype="multipart/form-data">
            <input type = "submit" value = "Go to home">
        </form>
    </body>
</html>