<html>
    <body>
        <title>Rate Restaurant</title>
        <form action = 'rating' method="POST"> 
            <label for="vol">Rating (between 0 and 10):</label>
            <input type="number" name="rating" min="0" max="10">
            <input type="submit" value="Submit">
     </form>
    </body>
</html>