<html>
    <body>
        <form action="/create" method="POST" enctype="multipart/form-data">
            <label for = "username">user name:</label>
            <input type = "id" name ="id"><br>
            <label for = "password">password:</label>
            <input type = "password" name ="password"><br>
            <label for = "password2">Input the password again:</label>
            <input type = "password" name ="password2"><br>
            <input type = "submit" value="Signup">
        </form>
        <form action="/login" method="GET">
            <input type = "submit" value="Back to login">
        </form>
    </body>
</html>